.card{
    margin: 1rem;
    margin-left: 3.5rem;
}
.test{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
}
.container{
    justify-content: center !important
}
.navbar{
    position: fixed !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    z-index: 10;
    box-shadow: 1px 8px 7px silver;
    padding-top: 1rem;
}
.text{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 20px;
}
#card{
    width: 56rem;
    margin-left: 10px;
}
.modal-content{
    width: 130% !important;
    margin-left: -6rem;
}